@model POS_PruebaTecnica.Models.POS.Sales

@{
    ViewData["Title"] = "Nueva Venta";
}
<h4>Venta - @Model.cabecera.id</h4>
<hr />
<div>
    <a asp-action="Index" class="btn btn-dark">Regresar</a>
</div> 
<br />
<div class="card">
    <div class="card-header">
        Productos agregados
    </div>
    <div class="card-body">
        <div class="row">  
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>Linea</td>
                            <td>cantidad</td>
                            <td>Producto</td>
                            <td>precio</td>
                            <td>SubTotal</td> 
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.detalle != null)
                            {
                                foreach (var item in Model.detalle)
                                {
                                    <tr>
                                        <td>@item.nkey</td>
                                        <td>@item.cantidad</td>
                                        <td>@item.descripcion</td>
                                        <td>@item.precio</td>
                                        <td>@item.subTotal</td> 
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                    <tfoot>
                        @if (Model.detalle != null)
                        {
                            var Subtotal = Math.Round(Model.detalle.Sum(x => x.subTotal) / 1.13m, 2);
                            var iva = Math.Round(Subtotal * 0.13m, 2);
                            var totalFinal = Math.Round(Subtotal + iva, 2);
                            <tr>
                                <th colspan="4"></th>
                                <th><b>SubTotal: </b></th>
                                <th>@Subtotal</th>
                            </tr>
                            <tr>
                                <th colspan="4"></th>
                                <th><b>MontIVA: </b></th>
                                <th>@iva</th>
                            </tr>
                            <tr>
                                <th colspan="4"></th>
                                <th><b>Total: </b></th>
                                <th>@totalFinal</th>
                            </tr>
                            <tr style="border:hidden !important">
                                <th colspan="5"></th> 
                            </tr>
                        }
                </table> 
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    function eliminarFila(nkey) {
            Swal.fire({
                title: "Está seguro?",
                text: "Realmente desea eliminar la linea, no podra reverir!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, Eliminar!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/POS/DeleteItem/" + nkey,
                        type: "GET",
                        contentType: "application/json",
                        success: function (response) {
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            Swal.fire('ERROR', "Ocurrió un error al intentar eliminar la línea.", 'error')
                        }
                    });
                }
            });
        }
</script>